<div
  class="player-container mb-2 p-2"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <mat-card
    [class.is-mobile]="isMobile"
    [class.red-bg]="player.player === 1"
    [class.yellow-bg]="player.player === 2"
    class="player"
    *ngFor="let player of players; let i = index"
  >
    <mat-card-header>
      <mat-card-title class="player__name">{{ player.name }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p class="player__score bold">
        {{ CONSTANTS.PLAYER.SCORE }}: {{ player.score }}
      </p>
      <p class="player__tokens bold">
        {{ CONSTANTS.PLAYER.TOKENS }}: {{ player.tokens }}
      </p>
    </mat-card-content>
  </mat-card>
</div>
